.crab-tabs{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    position: relative;
    height: 100%;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction:column; 
    overflow: hidden;    
}

.crab-headers{    
    display: block;
    font-size: 14px;
    position: relative;
    cursor: default;
    -webkit-webkit-user-select: none;
    -moz-webkit-user-select: none;
    -ms-webkit-user-select: none;
    -o-webkit-user-select: none;    
}

.crab-headers:after{
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    background: #26b9ff;
    transition: left .25s ease-in-out;
}

.crab-headers .crab-head{
    float: left;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;    
    transition: all .25s ease;
}

.crab-head.active{        
    color: #26b9ff;
}

.crab-panes{    
    position: relative;    
    width: 100%;
    height: 100%;    
    transition: transform .25s ease-in-out;
    will-change: transform;    
}

.crab-tabs.mobile .crab-panes{
    white-space: nowrap; 
}

.crab-pane{
    position: absolute;
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: initial;
    vertical-align: top;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.crab-tabs:not(.mobile) .crab-pane{
    opacity: 0;
    transition: transform .25s ease-in-out, opacity .25s ease-in-out;
    will-change: transform, opacity;
}

.crab-tabs:not(.mobile) .crab-pane.active{    
    transform: translateX(0);
    z-index: 9999;
    opacity: 1;
}

.crab-tabs.mobile .crab-pane{
    position: initial;
}
